
.header {
  margin: 1rem;
  container-type: inline-size; 
}

.nav-header { gap: 1rem; }

@container (width >= 523px) {

  .nav-header { font-size: 1.25rem; }
}

@container (width >= 900px) {

  .nav-header { font-size: 1.5rem; }
}