<footer class="footer">

  <div class="footer-bar">

    <div class="logo logo-footer logo__color-principal">Co<span class="logo__color-secundario">okC</span>on</div>

    <ul class="nav nav-footer">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="invitados.html">Invitados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blog.html">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto.html">Contacto</a>
      </li>
    </ul>
  
    <ul class="social-media-list">
      <li><a class="social-media-list__item" href=""><span class="fa-brands fa-instagram"></span></a></li>
      <li><a class="social-media-list__item" href=""><span class="fa-brands fa-facebook-f"></span></a></li>
      <li><a class="social-media-list__item" href=""><span class="fa-brands fa-x-twitter"></span></a></li>
    </ul>

  </div>

</footer>
