<header class="header">
  <nav class="navbar navbar-expand-lg bg-black">
    <div class="container-lg">
      <div class="logo logo__color-principal">Co<span class="logo__color-secundario">okC</span>on</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-header">
          <a class="nav-link" href="index.html">Inicio</a>
          <a class="nav-link" href="invitados.html">Invitados</a>
          <a class="nav-link" href="blog.html">Blog</a>
          <a class="nav-link" href="contacto.html">Contacto</a>
        </div>
      </div>
    </div>
  </nav>
</header>